.elementor-36287 .elementor-element.elementor-element-a74894b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-55247b1 {
  --display: flex;
  overflow: visible;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-36287
  .elementor-element.elementor-element-527e2d4
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 15px 0px;
}
.elementor-36287 .elementor-element.elementor-element-527e2d4 {
  text-align: center;
}
.elementor-36287
  .elementor-element.elementor-element-527e2d4
  .elementor-heading-title {
  font-weight: 400;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-bfe3257 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-7a6f252 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-36287 .elementor-element.elementor-element-a0278cc img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-a0278cc {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-a0c1baf {
  --display: flex;
  --justify-content: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  overflow: visible;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-36287 .elementor-element.elementor-element-189f083 {
  font-weight: 400;
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-ff24748 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --border-radius: 0px 0px 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-93a372e {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-9f62f9e img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-9f62f9e {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-0362341 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-7ba24bc {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-7a5c100 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-22eb484 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-b598d9d img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-b598d9d {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-42b0bda {
  --display: flex;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-4cffbf7 {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-8f3bcf0 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --border-radius: 0px 0px 0px 0px;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-4de16f1 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-b56840e img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-b56840e {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-f31f021 {
  --display: flex;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-7e5e2e7 {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-0cbf070 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-298c92b {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-fb49f3b img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-fb49f3b {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-1b51559 {
  --display: flex;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-a8681c9 {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-339d290 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-4683b7b {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-827fade img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-827fade {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-459f090 {
  --display: flex;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-10b59da {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-e77aa96 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-cc6110e {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-1bd586a img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-1bd586a {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-7bdac55 {
  --display: flex;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-f4e7f72 {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-473fc39 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-e86476b {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-562a2df img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-562a2df {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-e01b48b {
  --display: flex;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-14680f4 {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-8118f0e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-cdde1ab {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-c5c1af1 img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-c5c1af1 {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-c7fdaf9 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-e1a7a1c {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-1dfb847 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-fcbab40 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-a4c5da8 img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-a4c5da8 {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-c90e2b2 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-47e5ee5 {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-7863bbe {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --border-radius: 0px 0px 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 20px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-5790b4d {
  --display: flex;
  --justify-content: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-85073d5 img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-85073d5 {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-068267a {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-da49bab {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-a9aa30e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --border-radius: 0px 0px 0px 0px;
  --margin-top: 0px;
  --margin-bottom: 20px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-f6bcf70 {
  --display: flex;
  --justify-content: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-450be43 img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-450be43 {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-73c2838 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-706bda8 {
  line-height: 1.2em;
  color: #000000;
}
.elementor-36287 .elementor-element.elementor-element-f0513de {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #e8e8e9;
  --border-color: #e8e8e9;
  --margin-top: 0px;
  --margin-bottom: 20px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 25px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-3468516 {
  --display: flex;
  --justify-content: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-c407700 img {
  pointer-events: all;
}
.elementor-36287 .elementor-element.elementor-element-c407700 {
  text-align: center;
}
.elementor-36287 .elementor-element.elementor-element-d72c644 {
  --display: flex;
  --justify-content: center;
  overflow: visible;
}
.elementor-36287 .elementor-element.elementor-element-a852a97 {
  line-height: 1.2em;
  color: #000000;
}
@media (min-width: 768px) {
  .elementor-36287 .elementor-element.elementor-element-7a6f252 {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-a0c1baf {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-93a372e {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-0362341 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-22eb484 {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-42b0bda {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-4de16f1 {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-f31f021 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-298c92b {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-1b51559 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-4683b7b {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-459f090 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-cc6110e {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-7bdac55 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-e86476b {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-e01b48b {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-cdde1ab {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-c7fdaf9 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-fcbab40 {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-c90e2b2 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-5790b4d {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-068267a {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-f6bcf70 {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-73c2838 {
    --width: 66.66%;
  }
  .elementor-36287 .elementor-element.elementor-element-3468516 {
    --width: 33.33%;
  }
  .elementor-36287 .elementor-element.elementor-element-d72c644 {
    --width: 66.66%;
  }
}
