.elementor-125943 .elementor-element.elementor-element-10c2ee8 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-125943
  .elementor-element.elementor-element-b57ea3c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-125943
  .elementor-element.elementor-element-b57ea3c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-125943 .elementor-element.elementor-element-8a90b45 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-125943
  .elementor-element.elementor-element-a065273.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-125943
  .elementor-element.elementor-element-a065273.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-125943 .elementor-element.elementor-element-5d55b70 {
  --spacer-size: 50px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-125943 .elementor-element.elementor-element-23513a9 img {
  pointer-events: all;
}
.elementor-125943 .elementor-element.elementor-element-25c26a3 {
  overflow: visible;
}
.elementor-125943 .elementor-element.elementor-element-7d08fdb {
  --spacer-size: 50px;
}
.elementor-125943 .elementor-element.elementor-element-002b0ff {
  overflow: visible;
}
.elementor-125943
  .elementor-element.elementor-element-e7efff0
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-125943 .elementor-element.elementor-element-e7efff0 img {
  pointer-events: all;
}
@media (min-width: 768px) {
  .elementor-125943 .elementor-element.elementor-element-6570d23 {
    width: 30.357%;
  }
  .elementor-125943 .elementor-element.elementor-element-6f344dd {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-10c2ee8 */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
