.elementor-106 .elementor-element.elementor-element-fc570bf {
  --display: grid;
  --e-con-grid-template-columns: repeat(3, 1fr);
  --e-con-grid-template-rows: repeat(8, 1fr);
  --grid-auto-flow: row;
  --margin-top: 40px;
  --margin-bottom: 20px;
  --margin-left: 0px;
  --margin-right: 0px;
  overflow: visible;
}
.elementor-106 .elementor-element.elementor-element-e42cca9 .profile-card,
.elementor-106
  .elementor-element.elementor-element-e42cca9
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-e42cca9
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-e42cca9
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-e42cca9
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-e42cca9
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-e42cca9
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-e42cca9 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-e42cca9 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-f491b9d .profile-card,
.elementor-106
  .elementor-element.elementor-element-f491b9d
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-f491b9d
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-f491b9d
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-f491b9d
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-f491b9d
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-f491b9d
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-f491b9d .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-f491b9d .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-252bd86 .profile-card,
.elementor-106
  .elementor-element.elementor-element-252bd86
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-252bd86
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-252bd86
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-252bd86
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-252bd86
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-252bd86
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-252bd86 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-252bd86 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-ceb7bc3 .profile-card,
.elementor-106
  .elementor-element.elementor-element-ceb7bc3
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-ceb7bc3
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-ceb7bc3
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-ceb7bc3
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-ceb7bc3
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-ceb7bc3
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-ceb7bc3 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-ceb7bc3 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-e54bda1 .profile-card,
.elementor-106
  .elementor-element.elementor-element-e54bda1
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-e54bda1
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-e54bda1
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-e54bda1
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-e54bda1
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-e54bda1
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-e54bda1 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-e54bda1 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-957e4f7 .profile-card,
.elementor-106
  .elementor-element.elementor-element-957e4f7
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-957e4f7
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-957e4f7
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-957e4f7
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-957e4f7
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-957e4f7
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-957e4f7 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-957e4f7 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-5a5d445 .profile-card,
.elementor-106
  .elementor-element.elementor-element-5a5d445
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-5a5d445
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-5a5d445
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-5a5d445
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-5a5d445
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-5a5d445
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-5a5d445 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-5a5d445 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-ca95fa0 .profile-card,
.elementor-106
  .elementor-element.elementor-element-ca95fa0
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-ca95fa0
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-ca95fa0
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-ca95fa0
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-ca95fa0
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-ca95fa0
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-ca95fa0 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-ca95fa0 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-cfaab4b .profile-card,
.elementor-106
  .elementor-element.elementor-element-cfaab4b
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-cfaab4b
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-cfaab4b
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-cfaab4b
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-cfaab4b
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-cfaab4b
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-cfaab4b .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-cfaab4b .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-779f48e .profile-card,
.elementor-106
  .elementor-element.elementor-element-779f48e
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-779f48e
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-779f48e
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-779f48e
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-779f48e
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-779f48e
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-779f48e .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-779f48e .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-abd7982 .profile-card,
.elementor-106
  .elementor-element.elementor-element-abd7982
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-abd7982
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-abd7982
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-abd7982
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-abd7982
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-abd7982
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-abd7982 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-abd7982 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-fe15824 .profile-card,
.elementor-106
  .elementor-element.elementor-element-fe15824
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-fe15824
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-fe15824
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-fe15824
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-fe15824
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-fe15824
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-fe15824 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-fe15824 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-eaef2b7 .profile-card,
.elementor-106
  .elementor-element.elementor-element-eaef2b7
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-eaef2b7
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-eaef2b7
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-eaef2b7
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-eaef2b7
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-eaef2b7
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-eaef2b7 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-eaef2b7 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-194bbe1 .profile-card,
.elementor-106
  .elementor-element.elementor-element-194bbe1
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-194bbe1
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-194bbe1
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-194bbe1
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-194bbe1
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-194bbe1
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-194bbe1 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-194bbe1 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-3be3719 .profile-card,
.elementor-106
  .elementor-element.elementor-element-3be3719
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-3be3719
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-3be3719
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-3be3719
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-3be3719
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-3be3719
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-3be3719 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-3be3719 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-5fb604f .profile-card,
.elementor-106
  .elementor-element.elementor-element-5fb604f
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-5fb604f
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-5fb604f
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-5fb604f
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-5fb604f
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-5fb604f
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-5fb604f .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-5fb604f .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-faf6153 .profile-card,
.elementor-106
  .elementor-element.elementor-element-faf6153
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-faf6153
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-faf6153
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-faf6153
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-faf6153
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-faf6153
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-faf6153 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-faf6153 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-467e1fc .profile-card,
.elementor-106
  .elementor-element.elementor-element-467e1fc
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-467e1fc
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-467e1fc
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-467e1fc
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-467e1fc
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-467e1fc
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-467e1fc .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-467e1fc .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-bcc1320 .profile-card,
.elementor-106
  .elementor-element.elementor-element-bcc1320
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-bcc1320
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-bcc1320
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-bcc1320
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-bcc1320
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-bcc1320
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-bcc1320 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-bcc1320 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-5782615 .profile-card,
.elementor-106
  .elementor-element.elementor-element-5782615
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-5782615
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-5782615
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-5782615
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-5782615
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-5782615
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-5782615 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-5782615 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-fbc9862 .profile-card,
.elementor-106
  .elementor-element.elementor-element-fbc9862
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-fbc9862
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-fbc9862
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-fbc9862
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-fbc9862
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-fbc9862
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-fbc9862 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-fbc9862 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-e707489 .profile-card,
.elementor-106
  .elementor-element.elementor-element-e707489
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-e707489
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-e707489
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-e707489
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-e707489
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-e707489
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-e707489 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-e707489 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
.elementor-106 .elementor-element.elementor-element-583a4a8 .profile-card,
.elementor-106
  .elementor-element.elementor-element-583a4a8
  .profile-image-card {
  background-color: var(--e-global-color-light);
}
.elementor-106
  .elementor-element.elementor-element-583a4a8
  .ekit-team-modal-close {
  right: 10px;
  color: #656565;
}
.elementor-106
  .elementor-element.elementor-element-583a4a8
  .ekit-team-img.profile-header
  > img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-106
  .elementor-element.elementor-element-583a4a8
  .profile-body:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-583a4a8
  .profile-card:hover
  .profile-title {
  color: var(--e-global-color-secondary);
}
.elementor-106
  .elementor-element.elementor-element-583a4a8
  .ekit-team-modal-close
  svg
  path {
  stroke: #656565;
  fill: #656565;
}
.team-popup-id-583a4a8 .ekit-team-modal-close {
  color: #656565;
}
.team-popup-id-583a4a8 .ekit-team-modal-close svg path {
  stroke: #656565;
  fill: #656565;
}
@media (max-width: 1024px) {
  .elementor-106 .elementor-element.elementor-element-fc570bf {
    --grid-auto-flow: row;
  }
}
@media (max-width: 767px) {
  .elementor-106 .elementor-element.elementor-element-fc570bf {
    --e-con-grid-template-columns: repeat(1, 1fr);
    --e-con-grid-template-rows: repeat(2, 1fr);
    --grid-auto-flow: row;
  }
}
