.elementor-130294 .elementor-element.elementor-element-f2fa63b {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-130294
  .elementor-element.elementor-element-7c92f2c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-130294
  .elementor-element.elementor-element-7c92f2c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-130294 .elementor-element.elementor-element-5db567a {
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-130294 .elementor-element.elementor-element-154a753 img {
  pointer-events: all;
}
.elementor-bc-flex-widget
  .elementor-130294
  .elementor-element.elementor-element-63c0bd4.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-130294
  .elementor-element.elementor-element-63c0bd4.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-130294 .elementor-element.elementor-element-663ca89 {
  --spacer-size: 50px;
}
.elementor-130294
  .elementor-element.elementor-element-f650c51
  > .elementor-container {
  max-width: 1018px;
}
.elementor-130294 .elementor-element.elementor-element-f650c51 {
  overflow: visible;
}
.elementor-130294 .elementor-element.elementor-element-8d04c65 {
  width: var(--container-widget-width, 110.866%);
  max-width: 110.866%;
  --container-widget-width: 110.866%;
  --container-widget-flex-grow: 0;
}
.elementor-130294 .elementor-element.elementor-element-8d04c65 img {
  pointer-events: all;
}
.elementor-130294 .elementor-element.elementor-element-8d13b98 {
  width: var(--container-widget-width, 114.348%);
  max-width: 114.348%;
  --container-widget-width: 114.348%;
  --container-widget-flex-grow: 0;
}
.elementor-130294 .elementor-element.elementor-element-8d13b98 img {
  pointer-events: all;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-130294
  .elementor-element.elementor-element-7f77e3e
  .elementor-button {
  background-color: #045266;
  font-weight: 400;
  fill: #ffffff;
  color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.31);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8ca0ab;
  border-radius: 3px 3px 3px 3px;
  padding: 14px 55px 14px 55px;
}
.elementor-130294
  .elementor-element.elementor-element-7f77e3e
  .elementor-button:hover,
.elementor-130294
  .elementor-element.elementor-element-7f77e3e
  .elementor-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}
.elementor-130294
  .elementor-element.elementor-element-7f77e3e
  .elementor-button:hover
  svg,
.elementor-130294
  .elementor-element.elementor-element-7f77e3e
  .elementor-button:focus
  svg {
  fill: #000000;
}
.elementor-130294 .elementor-element.elementor-element-f503ffe {
  overflow: visible;
}
.elementor-130294 .elementor-element.elementor-element-c67a1da {
  --spacer-size: 50px;
}
.elementor-130294 .elementor-element.elementor-element-c676d5c {
  overflow: visible;
}
.elementor-130294
  .elementor-element.elementor-element-e48aa77
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-130294 .elementor-element.elementor-element-e48aa77 img {
  pointer-events: all;
}
.elementor-130294
  .elementor-element.elementor-element-93d7a4c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-130294 .elementor-element.elementor-element-93d7a4c {
  text-align: left;
}
@media (min-width: 768px) {
  .elementor-130294 .elementor-element.elementor-element-7c92f2c {
    width: 38.604%;
  }
  .elementor-130294 .elementor-element.elementor-element-d7c791e {
    width: 32%;
  }
  .elementor-130294 .elementor-element.elementor-element-63c0bd4 {
    width: 68%;
  }
  .elementor-130294 .elementor-element.elementor-element-9caad96 {
    width: 61.396%;
  }
  .elementor-130294 .elementor-element.elementor-element-c76a3d5 {
    width: 50%;
  }
  .elementor-130294 .elementor-element.elementor-element-1b76734 {
    width: 50%;
  }
  .elementor-130294 .elementor-element.elementor-element-9cdcf53 {
    width: 30.357%;
  }
  .elementor-130294 .elementor-element.elementor-element-15cbf8d {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-f2fa63b */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
