.elementor-115031 .elementor-element.elementor-element-5c3ae35 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-115031
  .elementor-element.elementor-element-421b41f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-115031
  .elementor-element.elementor-element-421b41f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-115031 .elementor-element.elementor-element-31df825 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-115031
  .elementor-element.elementor-element-129ec6c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-115031
  .elementor-element.elementor-element-129ec6c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-115031 .elementor-element.elementor-element-4c1be83 {
  --spacer-size: 50px;
}
.elementor-115031 .elementor-element.elementor-element-c5dfe45 {
  overflow: visible;
}
.elementor-115031 .elementor-element.elementor-element-2e1fe07 {
  --spacer-size: 50px;
}
.elementor-115031 .elementor-element.elementor-element-1bc4f15 {
  overflow: visible;
}
.elementor-115031
  .elementor-element.elementor-element-c8a5fa7
  > .elementor-element-populated {
  margin: 33px 33px 33px 33px;
  --e-column-margin-right: 33px;
  --e-column-margin-left: 33px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-115031 .elementor-element.elementor-element-6314b79 img {
  pointer-events: all;
}
@media (min-width: 768px) {
  .elementor-115031 .elementor-element.elementor-element-c8a5fa7 {
    width: 30.357%;
  }
  .elementor-115031 .elementor-element.elementor-element-b7061cc {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-5c3ae35 */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
