.elementor-114523 .elementor-element.elementor-element-e10d8b7 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-114523
  .elementor-element.elementor-element-2475b24.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-114523
  .elementor-element.elementor-element-2475b24.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-114523 .elementor-element.elementor-element-5446ef8 {
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-114523 .elementor-element.elementor-element-f48aa34 img {
  pointer-events: all;
}
.elementor-bc-flex-widget
  .elementor-114523
  .elementor-element.elementor-element-e9e48f7.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-114523
  .elementor-element.elementor-element-e9e48f7.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-114523 .elementor-element.elementor-element-1f81bd1 {
  --spacer-size: 50px;
}
.elementor-114523 .elementor-element.elementor-element-f96a374 img {
  pointer-events: all;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-114523
  .elementor-element.elementor-element-3c52fd4
  .elementor-button {
  background-color: #045266;
  font-weight: 400;
  fill: #ffffff;
  color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.31);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8ca0ab;
  border-radius: 3px 3px 3px 3px;
  padding: 14px 55px 14px 55px;
}
.elementor-114523
  .elementor-element.elementor-element-3c52fd4
  .elementor-button:hover,
.elementor-114523
  .elementor-element.elementor-element-3c52fd4
  .elementor-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}
.elementor-114523
  .elementor-element.elementor-element-3c52fd4
  .elementor-button:hover
  svg,
.elementor-114523
  .elementor-element.elementor-element-3c52fd4
  .elementor-button:focus
  svg {
  fill: #000000;
}
.elementor-114523 .elementor-element.elementor-element-c5dfe45 {
  overflow: visible;
}
.elementor-114523 .elementor-element.elementor-element-2e1fe07 {
  --spacer-size: 50px;
}
.elementor-114523 .elementor-element.elementor-element-1bc4f15 {
  overflow: visible;
}
.elementor-114523
  .elementor-element.elementor-element-4c51926
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-114523 .elementor-element.elementor-element-4c51926 img {
  pointer-events: all;
}
.elementor-114523
  .elementor-element.elementor-element-150f21c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-114523 .elementor-element.elementor-element-150f21c {
  text-align: left;
}
@media (min-width: 768px) {
  .elementor-114523 .elementor-element.elementor-element-758fb47 {
    width: 32%;
  }
  .elementor-114523 .elementor-element.elementor-element-e9e48f7 {
    width: 68%;
  }
  .elementor-114523 .elementor-element.elementor-element-c8a5fa7 {
    width: 30.357%;
  }
  .elementor-114523 .elementor-element.elementor-element-b7061cc {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-e10d8b7 */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
