.elementor-147547 .elementor-element.elementor-element-b395957 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-147547
  .elementor-element.elementor-element-bcd4850.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-147547
  .elementor-element.elementor-element-bcd4850.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-147547 .elementor-element.elementor-element-99803f2 {
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-147547 .elementor-element.elementor-element-805a6df img {
  pointer-events: all;
}
.elementor-bc-flex-widget
  .elementor-147547
  .elementor-element.elementor-element-939cd3e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-147547
  .elementor-element.elementor-element-939cd3e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-147547 .elementor-element.elementor-element-8da27d6 {
  --spacer-size: 50px;
}
.elementor-147547 .elementor-element.elementor-element-698d753 img {
  pointer-events: all;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-147547
  .elementor-element.elementor-element-490dd4b
  .elementor-button {
  background-color: #045266;
  font-weight: 400;
  fill: #ffffff;
  color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.31);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8ca0ab;
  border-radius: 3px 3px 3px 3px;
  padding: 14px 55px 14px 55px;
}
.elementor-147547
  .elementor-element.elementor-element-490dd4b
  .elementor-button:hover,
.elementor-147547
  .elementor-element.elementor-element-490dd4b
  .elementor-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}
.elementor-147547
  .elementor-element.elementor-element-490dd4b
  .elementor-button:hover
  svg,
.elementor-147547
  .elementor-element.elementor-element-490dd4b
  .elementor-button:focus
  svg {
  fill: #000000;
}
.elementor-147547 .elementor-element.elementor-element-2e3e327 {
  overflow: visible;
}
.elementor-147547 .elementor-element.elementor-element-21a8ed7 {
  --spacer-size: 50px;
}
.elementor-147547 .elementor-element.elementor-element-9dbdac1 {
  overflow: visible;
}
.elementor-147547 .elementor-element.elementor-element-91f9fa9 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.elementor-147547
  .elementor-element.elementor-element-91f9fa9
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-147547 .elementor-element.elementor-element-91f9fa9 img {
  pointer-events: all;
}
.elementor-147547
  .elementor-element.elementor-element-92e1d3f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-147547 .elementor-element.elementor-element-92e1d3f {
  text-align: left;
}
@media (min-width: 768px) {
  .elementor-147547 .elementor-element.elementor-element-e0cd018 {
    width: 32%;
  }
  .elementor-147547 .elementor-element.elementor-element-939cd3e {
    width: 68%;
  }
  .elementor-147547 .elementor-element.elementor-element-461da1f {
    width: 30.357%;
  }
  .elementor-147547 .elementor-element.elementor-element-fd6ac65 {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-b395957 */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
