.elementor-123805 .elementor-element.elementor-element-6324b92 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-123805
  .elementor-element.elementor-element-51644c8.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-123805
  .elementor-element.elementor-element-51644c8.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-123805 .elementor-element.elementor-element-8c57457 {
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-123805 .elementor-element.elementor-element-9ec481f img {
  pointer-events: all;
}
.elementor-bc-flex-widget
  .elementor-123805
  .elementor-element.elementor-element-ee0a153.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-123805
  .elementor-element.elementor-element-ee0a153.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-123805 .elementor-element.elementor-element-c11acb8 {
  --spacer-size: 50px;
}
.elementor-123805 .elementor-element.elementor-element-4c25651 {
  overflow: visible;
}
.elementor-123805 .elementor-element.elementor-element-8153c05 {
  width: var(--container-widget-width, 125.714%);
  max-width: 125.714%;
  --container-widget-width: 125.714%;
  --container-widget-flex-grow: 0;
}
.elementor-123805 .elementor-element.elementor-element-8153c05 img {
  pointer-events: all;
}
.elementor-123805 .elementor-element.elementor-element-b38d003 img {
  pointer-events: all;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-123805
  .elementor-element.elementor-element-c3c9dc1
  .elementor-button {
  background-color: #045266;
  font-weight: 400;
  fill: #ffffff;
  color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.31);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8ca0ab;
  border-radius: 3px 3px 3px 3px;
  padding: 14px 55px 14px 55px;
}
.elementor-123805
  .elementor-element.elementor-element-c3c9dc1
  .elementor-button:hover,
.elementor-123805
  .elementor-element.elementor-element-c3c9dc1
  .elementor-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}
.elementor-123805
  .elementor-element.elementor-element-c3c9dc1
  .elementor-button:hover
  svg,
.elementor-123805
  .elementor-element.elementor-element-c3c9dc1
  .elementor-button:focus
  svg {
  fill: #000000;
}
.elementor-123805 .elementor-element.elementor-element-7d1daac {
  overflow: visible;
}
.elementor-123805 .elementor-element.elementor-element-593019f {
  --spacer-size: 50px;
}
.elementor-123805 .elementor-element.elementor-element-b6444e6 {
  overflow: visible;
}
.elementor-123805
  .elementor-element.elementor-element-ed0cb27
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-123805 .elementor-element.elementor-element-ed0cb27 img {
  pointer-events: all;
}
@media (min-width: 768px) {
  .elementor-123805 .elementor-element.elementor-element-ee85486 {
    width: 32%;
  }
  .elementor-123805 .elementor-element.elementor-element-ee0a153 {
    width: 68%;
  }
  .elementor-123805 .elementor-element.elementor-element-60091f1 {
    width: 30.357%;
  }
  .elementor-123805 .elementor-element.elementor-element-ec2fbec {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-6324b92 */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
