.elementor-24 .elementor-element.elementor-element-3663eea {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  overflow: visible;
}
.elementor-widget-hotspot .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-hotspot {
  --hotspot-color: var(--e-global-color-primary);
  --hotspot-box-color: var(--e-global-color-secondary);
  --tooltip-color: var(--e-global-color-secondary);
}
.elementor-widget-hotspot .e-hotspot__label {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-hotspot .e-hotspot__tooltip {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-11a1eaf {
  right: 12%;
  --hotspot-translate-x: 12%;
  bottom: 25%;
  --hotspot-translate-y: 25%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-7e08c8c {
  left: 29%;
  --hotspot-translate-x: 29%;
  bottom: 20%;
  --hotspot-translate-y: 20%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-2f1fd71 {
  left: 17%;
  --hotspot-translate-x: 17%;
  top: 30%;
  --hotspot-translate-y: 30%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-b071a3a {
  right: 23%;
  --hotspot-translate-x: 23%;
  bottom: 61%;
  --hotspot-translate-y: 61%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-6818165 {
  right: 36%;
  --hotspot-translate-x: 36%;
  top: 27%;
  --hotspot-translate-y: 27%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-5945116 {
  right: 44%;
  --hotspot-translate-x: 44%;
  top: 36%;
  --hotspot-translate-y: 36%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-495b510 {
  right: 48%;
  --hotspot-translate-x: 48%;
  top: 32%;
  --hotspot-translate-y: 32%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-f1ad601 {
  right: 52%;
  --hotspot-translate-x: 52%;
  top: 25%;
  --hotspot-translate-y: 25%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .elementor-repeater-item-cc85087 {
  right: 55%;
  --hotspot-translate-x: 55%;
  top: 22%;
  --hotspot-translate-y: 22%;
}
.elementor-24
  .elementor-element.elementor-element-b4d0d4d
  .e-hotspot--tooltip-position {
  right: initial;
  bottom: initial;
  left: initial;
  top: calc(100% + 5px);
}
.elementor-24 .elementor-element.elementor-element-b4d0d4d {
  --hotspot-color: var(--e-global-color-primary);
  --hotspot-size: 35px;
  --hotspot-box-color: #0b667500;
  --hotspot-padding: 0px;
  --tooltip-text-color: var(--e-global-color-primary);
  --tooltip-padding: 0px 0px 0px 0px;
  --tooltip-color: #00000000;
}
.elementor-24 .elementor-element.elementor-element-b4d0d4d .e-hotspot__tooltip {
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.elementor-24 .elementor-element.elementor-element-c2c3d58 {
  overflow: visible;
}
.elementor-24
  .elementor-element.elementor-element-cabfdf5
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-24
  .elementor-element.elementor-element-cabfdf5
  > .elementor-element-populated {
  padding: 0px 30px 0px 0px;
}
.elementor-24
  .elementor-element.elementor-element-4f517f3
  > .elementor-widget-container {
  padding: 20px 30px 28px 30px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #aaaaaa;
  border-radius: 2px 2px 2px 2px;
}
.elementor-24
  .elementor-element.elementor-element-d5d8b0f
  > .elementor-element-populated {
  padding: 20px 20px 20px 30px;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-24 .elementor-element.elementor-element-546b28d {
  text-align: left;
}
.elementor-24
  .elementor-element.elementor-element-546b28d
  .elementor-heading-title {
  font-size: 20px;
  color: #000000;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-24
  .elementor-element.elementor-element-0111cea
  > .elementor-widget-container {
  padding: 0px 40px 0px 0px;
}
.elementor-24 .elementor-element.elementor-element-0111cea {
  text-align: left;
  line-height: 1.3em;
  color: #000000;
}
.elementor-24 .elementor-element.elementor-element-24ff8ff {
  margin-top: 0px;
  margin-bottom: 15px;
  overflow: visible;
}
.elementor-24
  .elementor-element.elementor-element-f51b5e6
  > .elementor-element-populated {
  padding: 0px 10px 10px 10px;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-24 .elementor-element.elementor-element-9fef20f .elementor-button {
  background-color: rgba(255, 255, 255, 0);
  fill: #81a8b2;
  color: #81a8b2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #81a8b2;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
}
.elementor-24
  .elementor-element.elementor-element-b9d2b20
  > .elementor-element-populated {
  padding: 0px 10px 10px 10px;
}
.elementor-24 .elementor-element.elementor-element-1ac1c2c .elementor-button {
  background-color: rgba(255, 255, 255, 0);
  fill: #81a8b2;
  color: #81a8b2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #81a8b2;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
}
.elementor-24
  .elementor-element.elementor-element-2628ac4
  > .elementor-element-populated {
  padding: 0px 10px 10px 10px;
}
.elementor-24 .elementor-element.elementor-element-efa4f46 .elementor-button {
  background-color: rgba(255, 255, 255, 0);
  fill: #81a8b2;
  color: #81a8b2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #81a8b2;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
}
.elementor-24
  .elementor-element.elementor-element-83779ad
  > .elementor-element-populated {
  padding: 0px 10px 10px 10px;
}
.elementor-24 .elementor-element.elementor-element-63011f6 .elementor-button {
  background-color: rgba(255, 255, 255, 0);
  fill: #81a8b2;
  color: #81a8b2;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #81a8b2;
  border-radius: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
}
.elementor-24
  .elementor-element.elementor-element-aefba29
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-24 .elementor-element.elementor-element-aefba29 {
  overflow: visible;
}
.elementor-24 .elementor-element.elementor-element-f6f82a6 {
  text-align: left;
}
.elementor-24
  .elementor-element.elementor-element-f6f82a6
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.elementor-24 .elementor-element.elementor-element-07961cb .elementor-button {
  background-color: #045266;
  font-weight: 400;
  fill: #ffffff;
  color: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #045266;
  border-radius: 3px 3px 3px 3px;
  padding: 11px 30px 11px 30px;
}
.elementor-24
  .elementor-element.elementor-element-07961cb
  .elementor-button:hover,
.elementor-24
  .elementor-element.elementor-element-07961cb
  .elementor-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border-color: #045266;
}
.elementor-24
  .elementor-element.elementor-element-07961cb
  .elementor-button:hover
  svg,
.elementor-24
  .elementor-element.elementor-element-07961cb
  .elementor-button:focus
  svg {
  fill: #000000;
}
@media (min-width: 768px) {
  .elementor-24 .elementor-element.elementor-element-f51b5e6 {
    width: 11%;
  }
  .elementor-24 .elementor-element.elementor-element-b9d2b20 {
    width: 11%;
  }
  .elementor-24 .elementor-element.elementor-element-2628ac4 {
    width: 11%;
  }
  .elementor-24 .elementor-element.elementor-element-83779ad {
    width: 11%;
  }
  .elementor-24 .elementor-element.elementor-element-c9311d4 {
    width: 18%;
  }
}
@media (max-width: 767px) {
  .elementor-24 .elementor-element.elementor-element-c2c3d58 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 5px;
  }
  .elementor-24
    .elementor-element.elementor-element-cabfdf5
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-24
    .elementor-element.elementor-element-4f517f3
    > .elementor-widget-container {
    padding: 15px 15px 50px 15px;
  }
  .elementor-24 .elementor-element.elementor-element-f51b5e6 {
    width: 25%;
  }
  .elementor-24 .elementor-element.elementor-element-b9d2b20 {
    width: 25%;
  }
  .elementor-24 .elementor-element.elementor-element-2628ac4 {
    width: 25%;
  }
  .elementor-24 .elementor-element.elementor-element-83779ad {
    width: 25%;
  }
  .elementor-24 .elementor-element.elementor-element-f6f82a6 {
    text-align: center;
  }
} /* Start custom CSS for text-editor, class: .elementor-element-0111cea */
.fc-cu-address a {
  display: inline-block;
  color: #787878;
}
.fc-cu-address address {
  margin-bottom: 0.3rem;
} /* End custom CSS */
