.elementor-154986 .elementor-element.elementor-element-1c7ae20 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
  overflow: visible;
}
.elementor-widget-login .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-widget-login .elementor-field-group > a {
  color: var(--e-global-color-text);
}
.elementor-widget-login .elementor-field-group > a:hover {
  color: var(--e-global-color-accent);
}
.elementor-widget-login .elementor-form-fields-wrapper label {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-login .elementor-field-group .elementor-field {
  color: var(--e-global-color-text);
}
.elementor-widget-login .elementor-field-group .elementor-field,
.elementor-widget-login .elementor-field-subgroup label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-login
  .elementor-widget-container
  .elementor-login__logged-in-message {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-button {
  background-color: var(--e-global-color-text);
  color: var(--e-global-color-25d9227);
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-field-group {
  margin-bottom: 10px;
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-form-fields-wrapper {
  margin-bottom: -10px;
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-field-group
  > a {
  color: var(--e-global-color-25d9227);
}
body
  .elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-form-fields-wrapper
  label {
  color: var(--e-global-color-25d9227);
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-field-group
  .elementor-field {
  color: var(--e-global-color-25d9227);
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-field-group
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-text);
  border-radius: 5px 5px 5px 5px;
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: var(--e-global-color-secondary);
  border-color: var(--e-global-color-text);
  border-radius: 5px 5px 5px 5px;
}
.elementor-154986
  .elementor-element.elementor-element-bb0e092
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: var(--e-global-color-text);
}
#elementor-popup-modal-154986 .dialog-widget-content {
  background-color: var(--e-global-color-secondary);
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
#elementor-popup-modal-154986 {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#elementor-popup-modal-154986 .dialog-message {
  width: 450px;
  height: auto;
}
#elementor-popup-modal-154986 .dialog-close-button {
  display: flex;
}
