.elementor-118636 .elementor-element.elementor-element-715f4c8 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-118636
  .elementor-element.elementor-element-2cf8c1b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-118636
  .elementor-element.elementor-element-2cf8c1b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-118636 .elementor-element.elementor-element-c1571b3 {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-118636
  .elementor-element.elementor-element-e0159eb.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-118636
  .elementor-element.elementor-element-e0159eb.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-118636 .elementor-element.elementor-element-0a22584 {
  --spacer-size: 50px;
}
.elementor-118636 .elementor-element.elementor-element-315e33d {
  overflow: visible;
}
.elementor-118636 .elementor-element.elementor-element-1c88f07 {
  --spacer-size: 50px;
}
.elementor-118636 .elementor-element.elementor-element-0c095a0 {
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-118636
  .elementor-element.elementor-element-cefd61b
  > .elementor-widget-container {
  margin: -50px -50px -50px -50px;
}
.elementor-118636 .elementor-element.elementor-element-cefd61b img {
  pointer-events: all;
}
@media (min-width: 768px) {
  .elementor-118636 .elementor-element.elementor-element-1ff8781 {
    width: 30.357%;
  }
  .elementor-118636 .elementor-element.elementor-element-c48bc82 {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-715f4c8 */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
