.elementor-126308 .elementor-element.elementor-element-4d0573e {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-126308
  .elementor-element.elementor-element-8a0ebf3.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-126308
  .elementor-element.elementor-element-8a0ebf3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-126308 .elementor-element.elementor-element-1a4ab9b {
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-126308 .elementor-element.elementor-element-eff5cf9 img {
  pointer-events: all;
}
.elementor-bc-flex-widget
  .elementor-126308
  .elementor-element.elementor-element-7491df4.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-126308
  .elementor-element.elementor-element-7491df4.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-126308 .elementor-element.elementor-element-b93b8a8 {
  --spacer-size: 50px;
}
.elementor-126308 .elementor-element.elementor-element-2a8841e img {
  pointer-events: all;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-126308
  .elementor-element.elementor-element-c66f391
  .elementor-button {
  background-color: #045266;
  font-weight: 400;
  fill: #ffffff;
  color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.31);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8ca0ab;
  border-radius: 3px 3px 3px 3px;
  padding: 14px 55px 14px 55px;
}
.elementor-126308
  .elementor-element.elementor-element-c66f391
  .elementor-button:hover,
.elementor-126308
  .elementor-element.elementor-element-c66f391
  .elementor-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}
.elementor-126308
  .elementor-element.elementor-element-c66f391
  .elementor-button:hover
  svg,
.elementor-126308
  .elementor-element.elementor-element-c66f391
  .elementor-button:focus
  svg {
  fill: #000000;
}
.elementor-126308 .elementor-element.elementor-element-f0c35ca {
  overflow: visible;
}
.elementor-126308 .elementor-element.elementor-element-e53d4ea {
  --spacer-size: 50px;
}
.elementor-126308 .elementor-element.elementor-element-8c0b5e5 {
  overflow: visible;
}
.elementor-126308
  .elementor-element.elementor-element-044ea47
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-126308 .elementor-element.elementor-element-044ea47 img {
  pointer-events: all;
}
.elementor-126308
  .elementor-element.elementor-element-a2f5c33
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-126308 .elementor-element.elementor-element-a2f5c33 {
  text-align: left;
}
@media (min-width: 768px) {
  .elementor-126308 .elementor-element.elementor-element-3f354f5 {
    width: 32%;
  }
  .elementor-126308 .elementor-element.elementor-element-7491df4 {
    width: 68%;
  }
  .elementor-126308 .elementor-element.elementor-element-e3daa4f {
    width: 30.357%;
  }
  .elementor-126308 .elementor-element.elementor-element-3affefb {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-4d0573e */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
