.elementor-153358 .elementor-element.elementor-element-063442c {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 40px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 0px;
  overflow: visible;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-153358
  .elementor-element.elementor-element-e7c757c
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  color: var(--e-global-color-primary);
}
.elementor-153358
  .elementor-element.elementor-element-9dc9a0f
  .ekit-breadcrumb
  > li:not(.brd_sep) {
  color: var(--e-global-color-text);
}
.elementor-153358
  .elementor-element.elementor-element-9dc9a0f
  .ekit-breadcrumb
  > li
  > a {
  color: var(--e-global-color-text);
}
.elementor-153358
  .elementor-element.elementor-element-9dc9a0f
  .ekit-breadcrumb
  > li
  > span.ekit_home_icon {
  color: var(--e-global-color-text);
}
.elementor-153358
  .elementor-element.elementor-element-9dc9a0f
  .ekit-breadcrumb
  > li
  > span.ekit_home_icon
  svg {
  fill: var(--e-global-color-text);
}
.elementor-153358
  .elementor-element.elementor-element-9dc9a0f
  .ekit-breadcrumb
  > li:hover
  > a {
  color: var(--e-global-color-accent);
}
.elementor-153358
  .elementor-element.elementor-element-9dc9a0f
  .ekit-breadcrumb
  > li:hover
  > span.ekit_home_icon {
  color: var(--e-global-color-accent);
}
.elementor-153358
  .elementor-element.elementor-element-9dc9a0f
  .ekit-breadcrumb
  > li:hover
  > span.ekit_home_icon
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-153358 .elementor-element.elementor-element-e3da59f {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  overflow: visible;
}
.elementor-widget-post-info .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-post-info .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-post-info .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-post-info .elementor-icon-list-text,
.elementor-widget-post-info .elementor-icon-list-text a {
  color: var(--e-global-color-secondary);
}
.elementor-widget-post-info .elementor-icon-list-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-153358
  .elementor-element.elementor-element-1741dea
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-secondary);
  font-size: 14px;
}
.elementor-153358
  .elementor-element.elementor-element-1741dea
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-secondary);
  --e-icon-list-icon-size: 14px;
}
.elementor-153358
  .elementor-element.elementor-element-1741dea
  .elementor-icon-list-icon {
  width: 14px;
}
.elementor-153358
  .elementor-element.elementor-element-1741dea
  .elementor-icon-list-text,
.elementor-153358
  .elementor-element.elementor-element-1741dea
  .elementor-icon-list-text
  a {
  color: var(--e-global-color-secondary);
}
.elementor-widget-theme-post-content {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-153358 .elementor-element.elementor-element-9e2f3fe {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --margin-top: 0px;
  --margin-bottom: 40px;
  --margin-left: 0px;
  --margin-right: 0px;
  overflow: visible;
}
.elementor-153358 .elementor-element.elementor-element-f910b61 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  overflow: visible;
}
.elementor-153358
  .elementor-element.elementor-element-f910b61:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-153358
  .elementor-element.elementor-element-f910b61
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f6f6f6;
}
.elementor-153358
  .elementor-element.elementor-element-f4be03d
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  color: var(--e-global-color-secondary);
}
.elementor-153358 .elementor-element.elementor-element-06e6e18 {
  --alignment: right;
  --grid-side-margin: 8px;
  --grid-column-gap: 8px;
  --grid-row-gap: 8px;
  --grid-bottom-margin: 8px;
}
.elementor-153358
  .elementor-element.elementor-element-06e6e18
  .elementor-share-btn {
  font-size: calc(0.75px * 10);
}
.elementor-153358
  .elementor-element.elementor-element-06e6e18
  .elementor-share-btn__icon {
  --e-share-buttons-icon-size: 3em;
}
@media (max-width: 1024px) {
  .elementor-153358 .elementor-element.elementor-element-06e6e18 {
    --grid-side-margin: 8px;
    --grid-column-gap: 8px;
    --grid-row-gap: 8px;
    --grid-bottom-margin: 8px;
  }
}
@media (max-width: 767px) {
  .elementor-153358 .elementor-element.elementor-element-06e6e18 {
    --grid-side-margin: 8px;
    --grid-column-gap: 8px;
    --grid-row-gap: 8px;
    --grid-bottom-margin: 8px;
  }
}
