.elementor-147239 .elementor-element.elementor-element-c1def1a {
  overflow: visible;
}
.elementor-bc-flex-widget
  .elementor-147239
  .elementor-element.elementor-element-0ecf7e0.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-147239
  .elementor-element.elementor-element-0ecf7e0.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-147239 .elementor-element.elementor-element-8147349 {
  overflow: visible;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-147239 .elementor-element.elementor-element-22434d9 img {
  pointer-events: all;
}
.elementor-bc-flex-widget
  .elementor-147239
  .elementor-element.elementor-element-ff55956.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-147239
  .elementor-element.elementor-element-ff55956.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-147239 .elementor-element.elementor-element-abb751b {
  --spacer-size: 50px;
}
.elementor-147239 .elementor-element.elementor-element-b60ec88 img {
  pointer-events: all;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-147239
  .elementor-element.elementor-element-2392739
  .elementor-button {
  background-color: #045266;
  font-weight: 400;
  fill: #ffffff;
  color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.31);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #8ca0ab;
  border-radius: 3px 3px 3px 3px;
  padding: 14px 55px 14px 55px;
}
.elementor-147239
  .elementor-element.elementor-element-2392739
  .elementor-button:hover,
.elementor-147239
  .elementor-element.elementor-element-2392739
  .elementor-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}
.elementor-147239
  .elementor-element.elementor-element-2392739
  .elementor-button:hover
  svg,
.elementor-147239
  .elementor-element.elementor-element-2392739
  .elementor-button:focus
  svg {
  fill: #000000;
}
.elementor-147239 .elementor-element.elementor-element-b0c36fa {
  overflow: visible;
}
.elementor-147239 .elementor-element.elementor-element-e0b827f {
  --spacer-size: 50px;
}
.elementor-147239 .elementor-element.elementor-element-8fe1678 {
  overflow: visible;
}
.elementor-147239
  .elementor-element.elementor-element-49f2ec1
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-147239 .elementor-element.elementor-element-49f2ec1 img {
  pointer-events: all;
}
.elementor-147239
  .elementor-element.elementor-element-0b46ef5
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-147239 .elementor-element.elementor-element-0b46ef5 {
  text-align: left;
}
@media (min-width: 768px) {
  .elementor-147239 .elementor-element.elementor-element-6e3b0fc {
    width: 32%;
  }
  .elementor-147239 .elementor-element.elementor-element-ff55956 {
    width: 68%;
  }
  .elementor-147239 .elementor-element.elementor-element-cf59074 {
    width: 30.357%;
  }
  .elementor-147239 .elementor-element.elementor-element-e84cecd {
    width: 69.643%;
  }
} /* Start custom CSS for section, class: .elementor-element-c1def1a */
.fc-op-green_links a {
  color: #0b6675 !important;
}
.fc-op-green_links a:hover {
  text-decoration: underline;
}
.fc-op-green_links a span {
  color: #fff;
}
.fc-op-green_links a:hover span {
  color: #0b6675;
} /* End custom CSS */
